@import "tailwindcss";

:root {
  font-family: "Segoe UI", "Noto Sans KR", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #13213f;
  background-color: #eef2f7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #eef2f7;
}

button {
  font-family: inherit;
  cursor: pointer;
}
